<!-- I pledge my honor that I have abided by the Stevens Honor System. aciccone -->
<div class="card bg-danger mx-auto my-5 p-3 text-center" style="max-width: 400px">
  <div class="card-header bg-light rounded rounded-lg">
    {{err.status}}
  </div>
  <div class="card-body text-light">
    <p class="card-text">{{err.msg}}</p>
    <a href="/" class="btn btn-warning">Home</a>
  </div>
</div>
