<!-- I pledge my honor that I have abided by the Stevens Honor System. aciccone -->
<form id="login-form" style="max-width: 400px" method="POST" action="/login">
  <h2>Log In</h2>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="User Name">
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password">
  </div>

  <button type="submit" class="btn-primary">Log In</button>
</form>
