<!-- I pledge my honor that I have abided by the Stevens Honor System. aciccone -->
<div style="width: 18rem;">
  <div>
    <p>Logged off.</p>
    <a href="/" class="btn-danger">Home</a>
  </div>
</div>
