<h1> People Finder </h1>
<main>
    <p>
      This website is meant to allow the users to search the database of people by a certain name. It will display the top 20 results from this search.
    </p>
    <form method = "POST" action = "/search">
      <label>Type name here</label>
      <input type = "test" name = "personName">
      <button type = "Submit" value = "Submit"> Submit </button>
    </form>
